html {
    height: 100%;
}

body {
    background-color: rgb(228, 218, 217);
    background-image: url(Images/bg3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;

}

.container {
    margin-left:auto;
    margin-right: auto;
    width: auto;
}

header {
    margin:0 auto;
    text-align:center ;
    background-color : rgb(228, 218, 217);
    height: 200px;
    width:300px ;
    border-radius: 15px;
    padding: 20px;

}

nav {
    margin: 0 auto;
    text-align:center;
    background-color: rgba(228, 218, 217, 0.50);
    width: fit-content;
    padding:16px;
    border-radius:15px;
    text-decoration:none;
    margin-top: 10px;
    margin-bottom: 10px;

}

main {
    margin: 0 auto;
    text-align:center ;
    border-radius: 15px;
    background-color: rgb(228, 218, 217);
    height: auto;
    width: fit-content;
    padding: 40px;
}

footer {
    height: 100px;
    width :auto ;
}

h1 {
    font-size: 32px;
    color: rgb(27, 41, 53);
    font-family: 'Arial Rounded MT', sans-serif;
}

p {
    font-size: 16px;
    color: rgb(27, 41, 53);
    font-family :'Arial Rounded MT', sans-serif;
}

a {
    color: rgb(27, 41, 53);
    font-family: 'Arial Rounded MT', sans-serif;
}

nav a {
    text-decoration: none;
    font-size: 12px;
    font-family: 'Arial Rounded MT', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}